<main class="bd-masthead">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto col-md-4 order-md-2">
                <img src="https://lh3.googleusercontent.com/PkL5UxGoPAFJElcSvYhYkoQLkutrXaUbF3REqNdYm6iesjQPxo-xBMwEIn3xfdUxJB85EAmZyHstQEd8py2PhQaLxi1gQEgJuLWiwmg0RCz8SUzQA4gBLgPD1OkXs-FnSdFxEhynuvbPy84NWO1Rw4HX-fP_qXj2Yq_PkmVwO4JXMFl4GFFwQm8xCQwxnV4iONTDuGtUY37HPwyljIcmsIr-rAoUVpWkXhMYOua7IcUScj-cemBOhADdMZ-ZeGiE9ssyIJ-xb7Dq2gSTtalETd8KIlOMga-VEw1gTrzfDb-WsIXYMGj8XEcQE7dD1-nv6Mthvzej_7hSOv2OGg6Y9q7nFPGd9ipKcGyh3kOkfZSIgwkELjuFWrR-aR-71bA3WkzRl92pPPSPk08T63X-rxcyNfs15-ulC24fSTKU_BwVk5nP4Smokmg60PQJ4taSUDj34UaJdCg5GT83Dq3GivBBdcuamB5lLCO9Zn93JcHPemUKp_xQYHGtiX1gSfYMfXrfSNGD52SjTHgorZTCKjda2PDMxiauN8fnRMtJDMDh8Qn_f4QKEtwUnhc9rN1sQgmXBp3-DqoHQHQ4WduXAj-DEJ29Hck7T43ExEA2yg69arEV4EVqCUDBQFoNSQB-xrqmj2K_ZN--tcJ4HI_WMU7gA8ShVzXH-7tQeEbMui1j132Ctjxf2H-VqzDd=w1299-h1947-no?authuser=0"
                    alt="photo maxime"
                    class="img-fluid">
            </div>
            <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="font-weight-bold mb-3"><mark>Maxime Minta</mark>, Student <mark>Electronics & Computer Science</mark> at <a
                        href="http://www.ap.be" target="blank">Artesis Plantijn</a> in Antwerp, Belgium.</h1>

                <a href="https://www.linkedin.com/in/maxime-minta-3067ba187/">Linkedin</a><br>
                <a href="https://github.com/MaximeMnt">Github</a>
            </div>
        </div>
    </div>
</main>