/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    font-family: 'Sora', sans-serif;
}

nav{
    background-color: #F9C74F;
}

.mlogo{
    margin-left: 1.5rem;
}
