<main class="bd-masthead">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto col-md-4 order-md-2">
                <img src="/assets/picturehomepage.jpg/" alt="photo maxime" class="img-fluid">
            </div>
            <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3"><mark>Maxime Minta</mark>, Student <mark>Electronics & Computer
                        Science</mark> at <a href="http://www.ap.be" target="blank">Artesis Plantijn</a> in Antwerp,
                    Belgium.</h1>

                <a href="https://www.linkedin.com/in/maxime-minta-3067ba187/" target="blank">Linkedin</a><br>
                <a href="https://github.com/MaximeMnt" target="blank">Github</a>
            </div>
        </div>
        <h2 class="font-weight-bold mb-3">Projects</h2>
        <!-- Gardent -->
        <div class="row">
            <div class="col-6 mx-auto col-md-4 order-md-2"> <img src="/assets/GIF-200428_192558.gif/" alt="project gif"
                    class="img-fluid"></div>
            <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                <h4>Gardent</h4>
                <p>A smart plant pot, with a companion app that notifies the user when there is not enough water in the
                    reservoir.</p>

                <p>Technologies Used:</p>
                <ul>
                    <li><a href="https://ionicframework.com/" target="blank">Ionic Framework</a></li>
                    <li><a href="https://nodejs.org/en/" target="blank">NodeJS</a></li>
                    <li><a href="https://expressjs.com/" target="blank">Express</a></li>
                    <li><a href="https://www.mysql.com/" target="blank">MySQL</a></li>
                </ul>
                <p>There is also a <a href="https://youtu.be/vxiLJta_hDY" target="blank">Demo video</a>.</p>
            </div>
        </div>
        <!-- International-Project -->
        <br><br>
        <div class="row">
            <div class="col-6 mx-auto col-md-4 order-md-2"> <img src="/assets/GIF-200428_192558.gif/" alt="project gif"
                    class="img-fluid"></div>
            <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                <h4>International Project - VMD</h4>
                <p>We made a companion app for a device that measures moisture, temperature, humidity. The user was able
                    to add his device to the app and receive notifications when a leak was detected, or when the
                    temperature was too high... Source code is available on
                    <a href="https://github.com/MaximeMnt/International-Project.git" target="blank">Github</a>.
                </p>
                <p>Technologies Used:</p>
                <ul>
                    <li><a href="https://ionicframework.com/" target="blank">Ionic Framework</a></li>
                    <li><a href="https://nodejs.org/en/" target="blank">NodeJS</a></li>
                    <li><a href="https://expressjs.com/" target="blank">Express</a></li>
                    <li><a href="https://www.mysql.com/" target="blank">MySQL</a></li>
                </ul>
                <p>There is also a <a href="https://youtu.be/vxiLJta_hDY" target="blank">Demo video</a>.</p>
            </div>
        </div>
        <!-- socket server -->
        <br><br>
        <div class="row">
            <div class="col-6 mx-auto col-md-4 order-md-2"> <img src="/assets/SocketTutorial.gif" alt="project gif"
                    class="img-fluid"></div>
            <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                <h4>Portfolio Website</h4>
                <p>I've used websockets to display every visitor's mouse pointer in real time as an emoji on this
                    website. Try it yourself! 😉

                <p>Technologies Used:</p>
                <ul>
                    <li><a href="https://angular.io/" target="blank">Angular</a></li>
                    <li><a href="https://nodejs.org/en/" target="blank">NodeJs</a></li>
                    <li><a href="https://expressjs.com/" target="blank">Express</a></li>
                    <li><a href="https://www.socket.io/" target="blank">Socket.io</a></li>
                </ul>
                <p>The source code is also available on <a href="https://github.com/MaximeMnt/Portfolio"
                        target="blank">Github</a>.</p>
            </div>
        </div>
        <!-- Mixed reality -->
        <br><br>
        <div class="row">
            <div class="col-6 mx-auto col-md-4 order-md-2"> <img src="/assets/mixedReality.gif" alt="project gif"
                    class="img-fluid"></div>
            <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                <h4>Mixed Reality - Create a immersive experience</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugit numquam quo nemo incidunt optio
                    mollitia qui ea commodi, quas laboriosam at sunt dolores quis praesentium deleniti maxime impedit.
                    Nemo?</p>

                <p>Technologies Used:</p>
                <ul>
                    <li><a href="#" target="blank">Unity</a></li>
                    <li><a href="#" target="blank">Ableton</a></li>
                    <li><a href="#" target="blank">After Effects</a></li>
                    <li><a href="#" target="blank">Oculus</a></li>
                </ul>
                <p>There is also a <a href="https://www.youtube.com/watch?v=pcnPTTYqbkM" target="blank">Demo video</a>.

            </div>
        </div>

    </div>

    <hr>
    <footer>
        <p class="text-center">Maxime Minta - 2021</p>
        <p class="text-center">Made with ❤ in Belgium</p>
    </footer>
</main>