<main class="bd-masthead">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto col-md-4 order-md-2">
                <img src="/assets/picturehomepage.jpg/" alt="photo maxime" class="img-fluid">
            </div>
            <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3"><mark>Maxime Minta</mark>, Former student <mark>Electronics & Computer
                        Science</mark> at <a href="http://www.ap.be" target="blank">Artesis Plantijn</a> in Antwerp,
                    Belgium.</h1>

                    <a href="https://www.linkedin.com/in/maxime-minta-3067ba187/" target="blank">Linkedin</a><br>
                <a href="https://github.com/MaximeMnt" target="blank">Github</a>
            </div>
        </div>
        <h2 class="font-weight-bold mb-3">Projects</h2>

        <div class="row">
            <div class="col-6 mx-auto col-md-4 order-md-2"> <img src="/assets/GIF-200428_192558.gif/" alt="project gif"
                    class="img-fluid"></div>
            <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                <h4>International Project</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic nostrum, obcaecati tempore ex
                    molestiae earum. Vitae beatae omnis dicta consequuntur explicabo iure nobis incidunt non. Quidem
                    saepe natus error!</p>

            </div>
        </div>
    </div>

    <hr>
    <footer>
        <p class="text-center">Maxime Minta - 2021</p>
        <p class="text-center">Made with ❤ in Belgium</p>
    </footer>
</main>