<main class="bd-masthead">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto col-md-4 order-md-2">
                <img src="/assets/picturehomepage.jpg/" alt="photo maxime" class="img-fluid">
            </div>
            <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3"><b><mark>Maxime Minta</mark>, Student <mark>Electronics & Computer
                            Science</mark> at <a href="http://www.ap.be" target="blank">Artesis Plantijn</a> in Antwerp,
                        Belgium.</b></h1>

                <a href="https://www.linkedin.com/in/maxime-minta-3067ba187/" target="blank">Linkedin</a><br>
                <a href="https://github.com/MaximeMnt" target="blank">Github</a>
            </div>
        </div>
    </div>
    
    <app-projects></app-projects>
    <hr>
    <footer>
        <p class="text-center">Maxime Minta - 2021</p>
        <p class="text-center">Made with ❤ in Belgium</p>
    </footer>
</main>